<p class="text-center text-muted" *ngIf="!bolaos.length">
  Jogo não encontrado
</p>

<div class="container pd-bottom">
  <div *ngFor="let cols of rows" class="row">
      <div *ngFor="let bolao of cols" class="col-sm-4">
        <a [routerLink]="['/partidas', bolao.id]">

          <div class="card mt-3 mb-3" >
            <img class="card-img-top img-fluid d-sm-block" style="width: 400px;" [src]="bolao.imgUrlPartida" pbDarkenOnHover>
            <!-- <pb-bolao class="text-center"  ></pb-bolao>-->
            <div class="card-block text-center">
              <h3 class="card-title">{{ bolao.timeAId.nomeTime }} x {{ bolao.timeBId.nomeTime }}</h3>
              <h4 class="card-subtitle mb-2 text-muted">Grupo: {{ bolao.timeAId.grupo }}</h4>
              <p class="card-text">{{ bolao.dataPartida }}</p>
            </div>
          </div>

        </a>
      </div>
  </div>
</div>


