<p class="text-center text-muted" *ngIf="!bolaos.length">
  Jogo não encontrado
</p>

<div class="container pd-bottom">
  <div *ngFor="let cols of rows" class="row">
      <div *ngFor="let bolao of cols" class="col-sm-4">
        <div class="card mt-3 mb-3">
          <pb-bolao class="text-center" [url]="bolao.url" [description]="bolao.description" pbDarkenOnHover></pb-bolao>
          <div class="card-block text-center">
            <h3 class="card-title">{{ bolao.description }}</h3>
            <h4 class="card-subtitle mb-2 text-muted">Grupo {{ bolao.grupo }}</h4>
            <p class="card-text">{{ bolao.data | date: 'd/M/yy' }}</p>
            <p class="preco">{{ bolao.data | date:'HH:mm'}}</p>

            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off">
            <label (click)="vitoria(bolao)" class="btn btn-outline-success" for="success-outlined">Vitoria</label>{{ bolao.vitoria }}

            <input type="radio" class="btn-check" name="options-outlined" id="secondary-outlined" autocomplete="off">
            <label (click)="empate(bolao)" class="btn btn-outline-secondary" for="secondary-outlined">Empate</label>{{ bolao.empate }}

            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
            <label (click)="derrota(bolao)" class="btn btn-outline-danger" for="danger-outlined">Derrota</label>{{ bolao.derrota }}

          </div>
        </div>
      </div>
  </div>
</div>


