<div class="container user-list">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Jogador</th>
        <th scope="col">Pontos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Rabuge</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>BugBoss</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mewkas</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Rabuge</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>BugBoss</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mewkas</td>
        <td>7</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
