<div class="container">
  <h2 class="text-center">Login</h2>

  <form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

      <div class="form-group">
          <input #userNameInput
              formControlName="userName"
              class="form-control"
              placeholder="user name"
              autofocus>
            <pb-vmessage
              *ngIf="loginForm.get('userName')?.errors?.['required']"
              text="User name obrigatorio.">
            </pb-vmessage>
      </div>

      <div class="form-group">
          <input
              formControlName="password"
              type="password"
              class="form-control"
              placeholder="password">
              <pb-vmessage
              *ngIf="loginForm.get('password')?.errors?.['required']"
              text="Password obrigatorio.">
            </pb-vmessage>
      </div>

      <button [disabled]="loginForm.invalid"
          type="submit"
          class="btn btn-primary btn-block">
          login
      </button>

  </form>

  <p>Não é usuario? <a [routerLink]="['signup']" >Registrise agora</a></p>
</div>
