<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/logo/logo-copa-Qatar.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Bem vindo ao bolão da copa!</h1>
      <h3>	A aposta do bolão é bem simples</h3>
      <p>1)	O objetivo do jogo é que você aposte em todos os jogos da fase de grupos da copa.</p>
      <p>2)	Clique no botão jogar a baixo e você vai ser direcionado para a página com todos os jogos.</p>
      <p>3)	Ao ver todos os jogos, você pode clicar individualmente em cada um para seguir com a aposta.</p>
      <p>4)	Clique no botão de quem vai ganhar a partida ou no empate.</p>
      <p>5)	Cada acerto de vitória do time selecionado ou empate, se consegue 1 ponto.</p>
      <p>6)	Todos os pontos serão computados após a partida.</p>
      <p>7)	Você pode acompanhar os participantes do bolão e sua pontuação na lista de participantes.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button [routerLink]="['']" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Jogar</button>
      </div>
    </div>
  </div>
</div>
